body{
    margin: 0 auto;
    padding: 0;
    background-color: #222831;
    width: 96vw;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Supermercado One', cursive;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: 1px dotted #ffffff;
    gap: 4%;
    border-radius: 10px;
}
.nav a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: #D65A31;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Supermercado One', cursive;
    user-select: none; /* Prevent text selection/editing */
}
.design {
    height: 8000px;
    border: 2px dotted rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
}
.container{
    display: flex;
    align-items: center; /* This will make all items have the same height */
    align-content: stretch;
}
.container .added-div{
    min-height: 40px; /* Set a minimum height */
    flex-grow: 1; /* Allow the div to expand and fill the available height */
}
.added-div {
    max-width: 99.4%;
    margin: 2px;
    border-radius: 5px;
    overflow: auto; /* Add overflow property to control content overflow */
}
/* Add this to your existing CSS */
.resize-handle {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #3498db; /* Customize the color */
    bottom: 0;
    right: 0;
    cursor: nwse-resize; /* Use the diagonal resize cursor */
  }
  